
h1{
    background-color: blue;
    color: white;
    font-size: 25px;
}
body {
    background-color: beige;
    color: red;
    font-size: 20px;
}

p {
    color: black;
}

div{height: auto;
    width: 500px;
    background-color: brown;
    color: white;
}
h3 {
    color: violet;
}